:root {
    font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */

.header {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .07);
    padding: .5rem 0;
    height: 3.125rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__item {
    padding: 0 1rem;
}

/* navigation */

.navigation-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.navigation-bar__item {
    padding: 0 1rem;
}

.navigation-bar__item:hover {
    color: #444;
}

/* content */

.content {
    padding: 0 2rem;
    min-height: calc(100vh - 5.125rem);
    overflow: hidden;
}

/* members */

.members {
    display: flex;
    width: 100%;
}

.member:not(:first-child) {
    margin-left: 2rem;
}

.member:not(:last-child) {
    margin-right: 2rem;
}

.member>img {
    object-fit: cover;
}

/* footer */

.footer {
    width: 100%;
    height: 2rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    background: #ddd;
    font-family: Georgia, serif;
}