*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    display: none;
    border: 1px solid #000;
    height:10vh;
    padding: 0rem;
    margin:0;
    
    
}

.form {
    border: 1px solid #000;
    border-radius: .5rem;
    padding: 2rem;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#eee, #fff, #eee);
}

.form-element {
    display: block;
    margin-bottom: 1rem;
}

.form-element__label {
    display: block;
    margin-bottom: .25rem;
}

.textarea {
    resize: vertical;
    border: 1px solid #000;
    border-radius: .25rem;
    width: 100%;
    background-color: #fff;
}

.input {
    border: 1px solid #000;
    border-radius: .25rem;
    width: 100%;
    padding-inline: .25rem;
    padding-block: 0;
    line-height: 2.5rem;
    background-color: #fff;
}

.button {
    border: 1px solid #000;
    border-radius: .25rem;
    background-color: #fff;
    padding-inline: 1rem;
    padding-block: .5rem;
    line-height: 1.5rem;
    font-size: .85rem;
}

.button:hover {
    background-color: #eee;
    cursor: pointer;
}

.button:active {
    background-color: #dfdfdf;
}

.button_inverse {
    background-color: #000;
    color: #fff;
}

.button_inverse:hover {
    background-color: #111;
}

.button_no-border {
    border: none;
}

.button_link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.size_1-of-2 {
    width: 49%;
}

.float_right {
    float: right;
}



.clearfix::after {
    content: '';
    display: table;
    clear: both;
}



.row-container {
    display: flex;
    flex-direction: row;
}

.storage-box {
    border: 1px solid #000;
    justify-content: center;
    width: 100vw;

    

}

.foot {
    display:flex;
    gap: 10;
    height: 10vh;
    padding: 0rem;
}
.fb{

    margin-top:10px;
    margin-bottom: 40px;
    height: auto;
}

.calender {
    height: 90vh;
}

.list {
    height: 80vh;
}

.tform {
    display: none;
}

.tab {
    display:flex;
    flex:row;
    
}

.tab_button{
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    border: 1px solid #000;
    width:50vw;
    height: 10vh;
  }

  .tab_button:hover {
    background-color: #777575;
    cursor: pointer;
}
  .th{
    border:0;
  }

#close_task {
    display: none;
}

